@use '../global' as *;

header {
	.mail:hover {
		.mail-svg-wrap {
			background-color: $white;
			transition: all 0.3s;
		}

		svg {
			stroke: $main;
			transition: all 0.3s;
		}
	}

	.mail-svg-wrap {
		background-color: $main;
		transition: all 0.3s;
	}

	.menu-outer {
		top: -400px;
		transition: $anim;

		&.active {
			top: 0;
		}

		.menu-main-container {
			#menu-main {
				background-image: $bg;
				border-bottom: 2px solid $main;

				li {
					transition: $anim;

					a {
						font-size: 2.4rem;
					}

					&:hover {
						transform: translateY(-8px);
						transition: $anim;
					}
				}
			}
		}
	}
}

.navbar-toggler {
	height: 2.5rem;
	position: relative;
	transition: $anim;
	width: 4.4rem;

	span {
		background-color: $white;
		height: 2px;
		transition: $anim;
	}

	&.active {
		margin-bottom: 1.5rem;
		transition: $anim;

		span {
			position: absolute;
			transition: $anim;
		}

		.top,
		.middle {
			top: 50%;
			width: 100%;
		}

		.top {
			transform: translateY(50%) rotate(45deg);
		}

		.middle {
			transform: translateY(50%) rotate(-45deg);
		}

		.bottom {
			opacity: 0;
		}
	}
}
