// USED VARIABLES

$font-main: 'Quicksand', sans-serif;
$font-hl: 'Raleway', sans-serif;

body {
	font-family: $font-main;
	font-weight: 300;

	h1,
	h2 {
		font-family: $font-hl;
	}

	h1 {
		font-size: 10.8rem;
		line-height: 120%;
	}

	#menu-main {
		a {
			font-family: $font-hl;
		}
	}
}
