@use 'variables' as *;

@mixin container {
	margin: 0 auto;
	max-width: 90%;
	width: 100%;

	@media screen and (min-width: $full) {
		max-width: $xxl;
	}
}

@mixin top-space-min {
	padding-top: 8rem;
	@media screen and (min-width: $xl) {
		padding-top: 18rem;
	}
}
@mixin top-space {
	padding-top: 18rem;
	@media screen and (min-width: $xl) {
		padding-top: 38rem;
	}
}
