// COLORS

$bg: linear-gradient(
	345deg,
	hsl(236deg 16% 21%) 0%,
	hsl(236deg 14% 19%) 50%,
	hsl(234deg 11% 17%) 100%
);

$main: #0761e9;

$grey: #4c4e5d;

$white: #fff;

// BREAKPOINTS

$s: 576px;

$m: 768px;

$l: 992px;

$xl: 1200px;

$xxl: 1620px;

$full: 1920px;

$max: 2560px;

// FONTS

$font-main: 'Quicksand', sans-serif;
$font-hl: 'Raleway', sans-serif;
